* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "PingFang-SC-Regular", "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
    color: #333;
    background-color: #fff;
}

p{
    margin: 0;
    padding: 0;
}

.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    font-weight: 600;
}


a{
    text-decoration: none;
}

.bannerTop{
    /* height: 550px; */
    padding: 0 15%;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: url('../../src/index/bg-1.png'); */
    color: #fff;
    text-align: center;
}
.bannerTop .bannerBlock{
    width: 100%;
}
.bannerTop .title{
    font-size: 36px;
    margin-bottom: 1.8rem;
}
.bannerTop .intro{
    font-size: 14px;
    padding: 0 12%;
    display: block;
    line-height: 1.8;
}

.midContent{
    /* height: 700px; */
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.midContent .title{
    text-align: center;
    width: 100%;
    font-size: 32px;
}
.midContent .img{
    padding: 1rem;
    flex: 1;
    height: 300px;
}
.midContent .img .imgBox{
    width: 100%;
    height: 100%;
    text-align: center;
    /* border: solid 1px #ddd; */
}

.midContent .img .imgBox img{
    width: 100%;
    height: auto;
    max-width: 480px;
}

.midContent .text{
    flex: 1;
    padding: 1rem;
}
.midContent .text p{
    font-size: 24px;
    color: RGBA(51, 51, 51, 1);
    margin-bottom: 1rem;
    width: 100%;
    font-weight: 600;
}

.midContent .text span{
    font-size: 14px;
    color: RGBA(102, 102, 102, 1);
    width: 100%;
}

.company{
    width: 100%;
    text-align: center;
    padding: 7% 15%;
}
.company .title{
    font-size: 32px;
    margin-bottom: 1rem;
}

.company .second{
    padding: 1rem 0;
}

.company .companyList{
    display: flex;
    flex-wrap: wrap;
}
.company .companyList .info{
    width: 25%;
    height: 140px;
    padding: 1rem;
}
.company .companyList .info .inner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px #ddd; */
}
.company .companyList .info .inner img{
    width: 168px;
    height: 70px;
}