.banner , .company, .feature, .product, .cloud{
    height: 700px;
    width: 100%;
    text-align: center;
    padding: 5% 15%;
}
.title{
    font-size: 32px;
}
.intro{
    font-size: 16px;
    color: #999;
    padding: 1rem 0;
}


.banner {
    height: 700px;
    width: 100%;
    background: url('./../src/index/bg-1.png');
    background-size: contain;
    margin-top: -5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner p {
    color: #fff;
}

.banner .bannerTitle {
    font-size: 52px;
}

.banner .bannerIntro {
    font-size: 23px;
    padding: 1rem 0;
}

.introList {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
}

.introList .introItem {
    padding: 0 2rem;
}

.introList .introItem:nth-child(2) {
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;
}

.introList .introItem .keyword {
    font-size: 30px;
    color: #184EFF;
    margin: 0;
}

.introList .introItem .text {
    margin: 0;
    color: #666;
    font-size: 14px;
    padding: 8px 0;
}

.feature {
    height: 700px;
    width: 100%;
    background: #12172C;
    text-align: center;
    padding: 6% 0;
    position: relative;
}

.feature .title {
    color: #fff;
    z-index: 10;
}

.feature .intro {
    z-index: 10;
}

.feature .featureBox {
    padding-left: 60%;
    margin-top: 4rem;
    z-index: 10;
}

.feature .featureBox .featureItem {
    position: relative;
    text-align: left;
    z-index: 10;
}

.feature .featureBox .featureItem span {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 64px;
    color: #fff;
    opacity: 0.1;
}

.feature .featureBox .featureItem p {
    height: 4rem;
    color: #fff;
    font-size: 18px;
    padding-top: 2.5rem;
    padding-left: 3rem;
}

.feature .featureBox .featureItem .more {
    margin: 0;
    padding: 0;
    margin-top: 4rem;
    display: block;
    height: 3rem;
    width: 11rem;
    border-radius: 1.5rem;
    text-align: center;
    line-height: 3rem;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(to right, #1B55E7, rgb(131, 186, 236));
    box-shadow: 6px 0px 16px rgba(56, 50, 55, 0.2);
    cursor: pointer;
}

.feature .animateBox {
    z-index: 5;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 500px;
    width: 1083px;
    background: url("./../src/index/bg-2.png");
    background-size: cover;
}


.feature .animateBox .pointCenter {
    width: 37px;
    height: 37px;
    background: #92D2FB;
    border-radius: 18.5px;
    font-size: 12px;
    color: #0A2A3F;
    text-align: center;
    line-height: 37px;
    position: absolute;
    box-shadow: 0 0 2px 2px #92D2FB;
    z-index: 100;
}
.feature .animateBox  .pointCenter1{
    left: 484px;
    bottom: 281px;
}

.feature .animateBox  .pointCenter2{
    left: 542px;
    bottom: 190px;
}

.feature .animateBox .line {
    height: 3px;
    position: absolute;
}

.feature .animateBox .line .light {
    width: 40%;
    min-width: 40%;
    background: linear-gradient(to right, rgb(20, 28, 39), rgb(38, 151, 221));
    height: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    animation: flow 4s infinite linear;
}

.feature .animateBox .line1 {
    width: 100px;
    left: 485px;
    bottom: 248px;
    transform: rotate(58deg);
}

.feature .animateBox .line2 {
    width: 60px;
    left: 488px;
    bottom: 164px;
    transform: rotate(136deg);
}

.feature .animateBox .line3 {
    width: 50px;
    left: 563px;
    bottom: 240px;
    transform: rotate(-50deg);
}

.feature .animateBox .line4 {
    left: 589px;
    bottom: 148px;
    transform: rotate(34deg);
    width: 120px;
    animation: cicle 4s infinite linear;
}

.feature .animateBox .line .light span {
    min-width: 6px;
    min-height: 6px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: rgb(38, 151, 221);
    box-shadow: 0 0 8px 2px rgb(38, 151, 221);
}

@keyframes flow {
    0% {
        margin-left: -40%;
    }
    50% {
        margin-left: 30%;
    }
    100% {
        margin-left: 60%;
    }
}

@keyframes cicle {
    0% {
        transform: rotate(34deg);
    }
    50% {
        left: 563px;
        bottom: 167px;
        transform: rotate(24deg);
    }
    100% {
        left: 585px;
        bottom: 153px;
        transform: rotate(0);
    }
}

.product {
    height: 700px;
    padding: 3% 15%;
    text-align: center;

}
.product .title{
    color: #333;
}

.product .changeBox .ctrl{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product .changeBox .ctrl .ctrlItem{
    margin: 0 2rem;
    padding: 1rem;
    color: #666666;
    cursor: pointer;
    border: solid 2px #fff;
}
.product .changeBox .ctrl .ctrlItem:hover{
    color: #184EFF;
    border-bottom: solid 2px #184EFF; 
}
.product .changeBox .ctrl .active{
    color: #184EFF;
    border-bottom: solid 2px #184EFF;
}
.product .changeBox .showBox{
    margin-top: 1rem;
}
.product .changeBox .showBox .itemBox{
    position: relative;
}

.product .changeBox .showBox .itemBox1 .robot{
    height: 432px;
    width: 770px;
    background: url("./../src/index/img.png");
    background-size: contain;
}
.product .changeBox .showBox .itemBox1 .robotIntro{
    position: absolute;
    width: 600px;
    height: 289px;
    background: linear-gradient(to right, #1B55E7, rgb(82, 180, 241));
    left: 500px;
    bottom: 120px;
}



.cloud{
    height: 700px;
    padding: 3% 15%;
    text-align: center;
    background: url('./../src/index/bg-3_1.png');
    background-repeat: repeat;
    position: relative;
}
.cloud .title{
    color: #fff;
}
.cloud .cloudBoot{
    height: 261px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('./../src/index/bg-3_2.png');
    display: flex;
    align-items: center;
    justify-content: center;
}
.cloud .cloudBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cloud .cloudBox .cloudBg{
    width: 918px;
    height: 516px;
    background: url('./../src/index/bg-3_3.png');
    background-size: cover;
}
.cloud .cloudBox .cloudIntro{
    width: 1000px;
    height: 400px;
    margin-left: -718px;
    background: #fff;
    box-shadow:6px 0px 16px rgba(56,50,55,0.2);
    border-radius: 2px;
    text-align: left;
}
.cloud .cloudBox .cloudIntro .img{
    height: 300px;
    width: 453px;
    margin-right: 2rem;
    box-shadow: 0 0 4px #999;
}
.cloud .cloudBox .cloudIntro .introText .titleSmall{
    font-size: 24px;
    color: #184EFF;
}
.cloud .cloudBox .cloudIntro .introText .btn_blue{
    font-size: 16px;
    color: #184EFF;
    width: 11rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 1.5rem;
    text-align: center;
    border: solid 1px #184EFF;
    margin-top: 1rem;
    cursor: pointer;
}



.company .second{
    padding: 1rem 0;
}

.company .companyList{
    display: flex;
    flex-wrap: wrap;
}
.company .companyList .info{
    width: 25%;
    height: 140px;
    padding: 1rem;
}
.company .companyList .info .inner{
    width: 100%;
    height: 100%;
    border: solid 1px #ddd;
}