.productPart{
    background: RGBA(25, 28, 39, 1);
    color: #fff;
    margin-top: 5%;
}
.productPart .title{
    height: 10rem;
    line-height: 10rem;
    font-size: 2rem;
    text-align: center;
}
.productPart .chose{
    text-align: center;
    display: flex;
    justify-content: center;
}
.productPart .chose span{
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 14px;
    padding: 0 2rem;
    border: solid 1px #fff;
    /* border-radius: 4px; */
    margin-left: -1px;
}
.productPart .chose .active{
    background: #fff;
    color: #333;
}

.bannerTop{
    background: url('../src/product/banner.png') no-repeat;
    background-size: cover;
    height: 31.25vw;
}

.productPart .midContent .text p{
    color: #fff;
}
.productPart .midContent .text span{
    color: #fff;
}


.productTitle .title{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
}


.bannerTop .bannerBlock{
    text-align: left;
}
.bannerTop .bannerBlock .brain{
    width: 200px;
    height: 37.67px;
    background: url('../src/product/G1Brain.png');
    background-size: 100% 100%;
    margin-bottom: 2rem;
}
.bannerTop .bannerBlock .intro{
    padding: 0;
    padding-right: 50%;
}
