.bigTitle {
    text-align: center;
    color: #333333;
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.productPart {
    background: RGBA(25, 28, 39, 1);
    color: #fff;
    margin-top: 5%;
}

.productPart .title {
    height: 10rem;
    line-height: 10rem;
    font-size: 2rem;
    text-align: center;
}

.productPart .chose {
    text-align: center;
    display: flex;
    justify-content: center;
}

.productPart .chose span {
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 14px;
    padding: 0 2rem;
    border: solid 1px #fff;
    /* border-radius: 4px; */
    margin-left: -1px;
}

.productPart .chose .active {
    background: #fff;
    color: #333;
}

.bannerTop {
    background: url('../src/new/product/bg.png') no-repeat;
    background-size: cover;
    height: 31.25vw;
}

.productPart .midContent .text p {
    color: #fff;
}

.productPart .midContent .text span {
    color: #fff;
}


.productTitle .title {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
}


.bannerTop .bannerBlock {
    text-align: left;
}

.bannerTop .bannerBlock .brain {
    width: 200px;
    height: 37.67px;
    background: url('../src/new/product/product.png');
    background-size: 100% 100%;
    margin-bottom: 2rem;
}

.bannerTop .bannerBlock .intro {
    padding: 0;
    /* padding-right: 50%; */
    font-size: 20px;
}


.productIntro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 8rem;
    color: #666;
}

.productIntro .icon {
    display: flex;
    align-items: center;
    /* color: #9AC7FB; */
    /* margin-top: 3rem; */
}


.productIntro .introBox .introTilte {
    text-align: center;
    /* margin-bottom: 4rem; */
    font-size: 1.5rem;
    color: #000;
}

.productIntro .introBox .introContain {
    /* border: solid 1px #ddd; */
    text-align: center;
    padding: 2rem;
    height: 31rem;
    width: 18rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: column;
    align-items: center;
}

.productIntro .introBox .introContain .introPoint {
    font-size: 18px;
    color: #333;
}

.productIntro .introBox .introContain .introImg {
    width: auto;
    height: 100px;
    min-height: 100px;
    /* border: solid 1px #ddd; */
    margin: 3rem 0;
}

.productIntro .introBox .introContain .introImg img {
    width: auto;
    height: 100px;
}

.productIntro .introBox .introContain .itemTitle {
    font-size: 16px;
    align-self: flex-center;
    color: #333;
    margin: 5px 0;
    width: 10rem;
    text-align: left;
}

.productIntro .introBox .introContain .itemContent {
    font-size: 14px;
    align-self: flex-center;
    text-align: left;
    margin-bottom: 1rem;
    width: 10rem;
}

.productIntro .introBox .introContain .itemContent p {
    margin-bottom: 5px;
}